<div class="card dh-feed-card">
  <h3 class="card-header">
    <a [href]="feed.link">{{feed.title}}</a>
  </h3>
  <div class="card-block">
    <div *ngFor="let article of feed.articles | slice:0:9" class="article">
      <span class="btn btn-secondary btn-sm" (click)="toggleDesc(article)"><i class="fa" [ngClass]="{'fa-plus': !article.expanded, 'fa-minus': article.expanded}"></i></span>
      <a [href]="article.link" target="_blank">{{article.title}}</a>
      <div>
        <div [innerHTML]="article.description" class="dh-feed-desc" [ngClass]="{'expanded': article.expanded}"></div>
      </div>
    </div>
  </div>
</div>
